body, html{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box{
    width: 500px;
    height: 400px;
    border: 1px solid purple;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    color: purple;
    font-size: 30px;
}

.form__field {
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid purple;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

button{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-left: 250px;
    background-color: purple;
    border-radius: 15px;
}